ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    height: 800px;
    background-color: cadetblue;
}

li a{
    display: block;
    color:black;
    font-size: 30px;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: blueviolet;
    color: white;
}